Importing the module

In [ ]:
import pandas as pd
import string 
import re
from textblob import TextBlob

Loading the csv file

In [6]:
commentary_df = pd.read_csv('rcb_commentary.csv')
commentary_df.drop(columns=['match_id','teams','over','timestamp'],inplace=True)
commentary_df.head()

                                          commentary
0  Johnson to Livingstone, FOUR, emphatic win for...
1  Johnson to Livingstone, SIX, Livingstone is in...
2  Arora to Livingstone, 1 run, length delivery o...
3  Arora to Livingstone, no run, slower-ball on a...
4  Arora to Livingstone, FOUR, Livingstone is off...

Lowercasing

In [13]:
commentary_df['commentary']=commentary_df['commentary'].str.lower()
commentary_df.head()

                                          commentary
0  johnson to livingstone, four, emphatic win for...
1  johnson to livingstone, six, livingstone is in...
2  arora to livingstone, 1 run, length delivery o...
3  arora to livingstone, no run, slower-ball on a...
4  arora to livingstone, four, livingstone is off...

REMOVE PUNCTUATION

In [14]:
def remove_punctuation(text):
    pattern = re.compile(f"[{re.escape(string.punctuation)}]")
    return pattern.sub(r'',text)

commentary_df['commentary'] = commentary_df['commentary'].apply(remove_punctuation)
commentary_df.head()

                                          commentary
0  johnson to livingstone four emphatic win for r...
1  johnson to livingstone six livingstone is in a...
2  arora to livingstone 1 run length delivery out...
3  arora to livingstone no run slowerball on a le...
4  arora to livingstone four livingstone is off t...

SPELLING CORRECTION

In [15]:
from textblob import TextBlob 

def correct_spelling(text):
    textBLB = TextBlob(text)
    return textBLB.correct().string

commentary_df['commentary'] = commentary_df['commentary'].apply(correct_spelling)
commentary_df.head()

                                          commentary
0  johnson to livingston four emphatic win for ri...
1  johnson to livingston six livingston is in a m...
2  aroma to livingston 1 run length delivery outs...
3  aroma to livingston no run slowerball on a len...
4  aroma to livingston four livingston is off the...